<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/general.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/feedback.css') }}">

    <title>Nilson</title>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="logo">
                <img src="/static/images/logo.png" alt="">
            </div>
            <div class="menus">
                <ul>
                    <li><img src="/static/images/icon-media.png" alt=""><a href="#">Media</a></li>
                    <li><img src="/static/images/icon-user.png" alt=""><a href="#">Foydalanuvchilar</a></li>
                    <li id="active"><img src="/static/images/icon-feedback.png" alt=""><a href="#">Fikr-mulohazalar</a></li>
                </ul>
            </div>
        </div>

        <div class="feedback-container">

            <div class="search-feedback">
                <input type="search" placeholder="Qidiruv..." id="searchInput">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.5 0C8.22391 0 9.87721 0.684819 11.0962 1.90381C12.3152 3.12279 13 4.77609 13 6.5C13 8.11 12.41 9.59 11.44 10.73L11.71 11H12.5L17.5 16L16 17.5L11 12.5V11.71L10.73 11.44C9.55037 12.4465 8.05065 12.9996 6.5 13C4.77609 13 3.12279 12.3152 1.90381 11.0962C0.684819 9.87721 0 8.22391 0 6.5C0 4.77609 0.684819 3.12279 1.90381 1.90381C3.12279 0.684819 4.77609 0 6.5 0ZM6.5 2C4 2 2 4 2 6.5C2 9 4 11 6.5 11C9 11 11 9 11 6.5C11 4 9 2 6.5 2Z" fill="#032539"/>
                </svg>

            </div>
            <div class="feedbacks-list">
                <div class="feedback-header">
                    <div class="feedback-header-item">User ID</div>
                    <div class="feedback-header-item">Ism Familiya</div>
                    <div class="feedback-header-item">Fikr va Mulohazalar</div>
                </div>
                {% for user_info in user_infos %}
                <div class="{% if loop.index % 2 == 0 %}feedback-item{% else %}feedback-item-dark{% endif %} user-label" data-popup="{{ user_info[0] }}">
                    <div>{{ user_info[1] }}</div>
                    <div>{{ user_info[2] }}</div>
                    <div>{{ user_info[3] }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% for info in feedback %}
        <div id="p{{ info[0] }}" class="popup">
            
            <div class="popup-content">
                <div class="content-title">
                    <span>Fikr va Mulohazalar</span>
                    <span class="close">&times;</span>
                </div>
                <div class="content-subtitle">
                    <span><b>Fikr bildiruvchi : </b> {{ info[1] }}</span>
                    <span><b>Kun : </b> {{  info[2]  }}</span>
                </div>
                <div class="content-information">
                    <p>
                        {{ info[3] }}
                    </p>
                </div>
                
              <!-- <div id="user-info"></div> -->
            </div>
          </div>
          {% endfor %}
    </div>


</body>
<script>



document.addEventListener("DOMContentLoaded", function() {
    var users = document.querySelectorAll('.user-label');

    users.forEach(function(user) {
        user.addEventListener('click', function() {
            userId = this.getAttribute('data-popup');
            closePopup(userId);
            document.getElementById(`p${userId}`).style.display = 'block';
        });
    });
    
    function closePopup(id) {
        document.querySelector(`#p${id} .close`).addEventListener('click', function() {
            document.getElementById(`p${id}`).style.display = 'none';
        });
    }
});




</script>
</html>