<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="styles/general.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="left-content">
            <img src="/images/media.png" alt="">
        </div>
        <div class="right-content">
            <div class="form-section">
                <img src="/images/ADMIN DASHBOARD.png" alt="">
                <form action="">
                    <input type="email" name="" id="" placeholder="Email">
                    <input type="password" name="" id="" placeholder="Password">
                    <input type="submit" value="Kirish" id="button">
                </form>
            </div>
        </div>
    </div>
</body>
</html>