*,
*::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", "Helvetica Neue";
}

:root {
    --background: #f7f8ff;
    --primary: #032539;
    --lightblue: #1C768F;
    --spot:#E7F1F4;
}
